* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  body {
    text-align: left;
  }
}

header {
  background-image: url("../images/pattern-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
}

.main {
  position: absolute;
  top: 30px;
}
.main h1 {
  color: white;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .main h1 {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    width: 1000px;
  }
}

.formContainer {
  margin-top: 30px;
  width: 300px;
  position: relative;
}
.formContainer input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.formContainer input:focus {
  outline: none;
}
@media screen and (min-width: 1200px) {
  .formContainer input {
    width: 40%;
  }
}
.formContainer button {
  padding: 14px;
  border-radius: 0px 10px 10px 0;
  border: none;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.formContainer button:hover {
  background: #969696;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .formContainer button {
    left: 50em;
  }
}
@media screen and (min-width: 1200px) {
  .formContainer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .formContainer {
    width: 1000px;
  }
}

.informationContainer {
  padding: 20px;
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  z-index: 999;
  width: 300px;
}
.informationContainer .informationItem {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .informationContainer .informationItem {
    border-right: 1px solid #969696;
    padding: 20px;
  }
  .informationContainer .informationItem:last-child {
    border-right: none;
  }
}
.informationContainer p {
  color: #969696;
  font-weight: 700;
  font-size: 10px;
}
.informationContainer h2 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .informationContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1000px;
  }
}

#map {
  height: 550px;
  width: 100%;
  position: relative;
}
#map img {
  position: absolute;
  z-index: 999;
  top: 30%;
  left: 40%;
  width: 30px;
}