@import 'mixin.scss';

$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGray: hsl(0, 0%, 59%);

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik',sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mQ(1200px) {
        text-align: left;
    }
}

header {
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    width : 100%;
    height : 300px;
    background-size: cover;
}

.main {
    position: absolute;
    top : 30px;

    h1 {
        color : white;
        font-weight: 600;

        @include mQ(1200px) {
            text-align: center;
        }
    }

    @include mQ(1200px) {
        width : 1000px;
    }
}

.formContainer {
    margin-top: 30px;
    width : 300px;
    position: relative;

    input {
        width : 100%;
        padding : 15px;
        border-radius: 10px;
        border: none;
        font-family: 'Rubik',sans-serif;
        font-weight: 400;

        &:focus {
            outline : none;
        }
        @include mQ(1200px) {
            width: 40%;
        }
    }

    button {
        padding : 14px;
        border-radius: 0px 10px 10px 0;
        border: none;
        background: black;
        position: absolute;
        top : 0;
        right : 0;
        transition: 0.3s ease-in-out;

        &:hover {
            background: $DarkGray;
            cursor: pointer;
        }

        @include mQ(1200px) {
            left : 50em;
        }
    }

    form {
        @include mQ(1200px) {
            display: flex;
            justify-content: center;
        }
    }
    @include mQ(1200px) {
        width: 1000px;
    }
}

.informationContainer {
    padding : 20px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 999;

    .informationItem {
        margin-bottom: 10px;

        @include mQ(1200px) {
            border-right : 1px solid $DarkGray;
            padding : 20px;

            &:last-child {
                border-right : none;
            }
        }
    }

    p {
        color : $DarkGray;
        font-weight: 700;
        font-size: 10px;
    }

    h2 {
        font-size: 16px;
        margin-top: 10px;
        font-weight: 500;
    }

    @include mQ(1200px) {
        display: flex;
        margin-top: 90px;
        justify-content: space-between;
    }
}

#map {
    height : 550px;
    width : 100%;
    position: relative;

    img {
        position: absolute;
        z-index: 999;
        top : 30%;
        left : 40%;
        width : 30px
    }
}

